@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --background-rgb: 255, 255, 255; /* White for light mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 30, 30, 30; /* Dark gray for dark mode */
  }
}

body {
  @apply text-gray-900 dark:text-gray-100;
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
